<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" href="../styles/search.css">
</head>
<body>

<div class="row container pt-5">
    <div class="sidebar col-md-2">
        <a class="navbar-brand" href="#">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/spotify-white-icon.png" alt="" width="50">
        </a>
        <a href="./" class="nav-link">
            Home
        </a>
        <a href="#" class="nav-link disabled">
            Search
        </a>
        <a href="./account" class="nav-link active">
            My Playlists
        </a>
    </div>

    <div class="main row">
        <div class="col-md-8">
            <label class="d-inline" style="gap: 20px">
                <input type="text" name="search" class="search">
                <button type="button" class="button mt-3"> Search </button>
            </label>

            <div class="searchResults">

                <ul id="searchResultsList">

                </ul>

            </div>
        </div>

        <div class="user-playlists col-md-4">

            <ul class="playlist-list" username="<%= userName %>" user-id=" <%= userId %>">
                <li>
                    Choose the album
                </li>
                <% playlists.forEach(playlist => { %>
                    <li playlist-id="<%= playlist.id%>" class="user-playlist-item">
                        <%= playlist.name%>
                    </li>
                <% }); %>
            </ul>

        </div>

    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        const accessToken = Cookies.get("accessToken");

        document.querySelector(".button").addEventListener("click", search);

        async function search() {
            const query = document.querySelector(".search").value;
            const searchResultsList = document.getElementById('searchResultsList');
            searchResultsList.innerHTML = '';

            try {
                const response = await fetch(`https://api.spotify.com/v1/search?q=${encodeURIComponent(query)}&type=track`, {
                    method: "GET",
                    headers: {
                        'Authorization': `Bearer ${accessToken}`
                    }
                });

                if (!response.ok) {
                    new Error("Network response was not ok");
                }

                const data = await response.json();

                data.tracks.items.forEach(track => {
                    const li = document.createElement("li");
                    li.textContent = `${track.artists[0].name} - ${track.name}`;
                    li.dataset.trackId = track.id;
                    li.classList.add("song");

                    const playButton = document.createElement("button");
                    playButton.textContent = "Play";
                    playButton.classList.add("play-button");
                    li.appendChild(playButton);

                    searchResultsList.appendChild(li);

                    playButton.addEventListener("click", function() {
                        playSong(track.id);
                    });

                    const addButton = document.createElement("button");
                    addButton.textContent = "Add";
                    addButton.classList.add("add-button");
                    addButton.setAttribute("song-id", track.id);

                    li.appendChild(addButton);

                    addButton.addEventListener("click", function() {
                        showPlaylists(track.id);
                    });

                });
            } catch (error) {
                console.error("Error fetching data:", error);
            }
        }

        async function playSong(songId) {
            try {
                const response = await fetch(
                    'https://api.spotify.com/v1/me/player/play',
                    {
                        method: "PUT",
                        headers: {
                            'Authorization': `Bearer ${accessToken}`,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            uris: [`spotify:track:${songId}`]
                        })
                    }
                );

                if (!response.ok) {
                    new Error('Failed to play song');
                }

                console.log(`Song with ID ${songId} is now playing.`);
            } catch (error) {
                console.error('Error playing song:', error);
                throw error;
            }
        }

        async function showPlaylists(trackId) {
            document.querySelector(".user-playlists").style.display = "block";

            const playlists = document.querySelectorAll(".user-playlist-item");

            playlists.forEach(playlist => {
                const playlistId = playlist.getAttribute("playlist-id");
                playlist.addEventListener("click", function() {
                    addToThePlaylist(trackId, playlistId);
                });
            });
        }

        async function addToThePlaylist(trackId, playlistId) {
            try {
                const response = await fetch(`https://api.spotify.com/v1/playlists/${playlistId}/tracks`, {
                    headers: {
                        Authorization: `Bearer ${accessToken}`,
                    }
                });

                if (!response.ok) {
                    throw new Error('Failed to fetch playlist tracks');
                }

                const playlistTracks = await response.json();
                const isTrackAlreadyAdded = playlistTracks.items.some(item => item.track.id === trackId);

                if (isTrackAlreadyAdded) {
                    alert("The song is already added!");
                } else {
                    try {
                        const addResponse = await fetch(`https://api.spotify.com/v1/playlists/${playlistId}/tracks`, {
                            method: "POST",
                            headers: {
                                "Authorization": `Bearer ${accessToken}`,
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                uris: [`spotify:track:${trackId}`],
                                position: 0
                            })
                        });

                        if (!addResponse.ok) {
                            throw new Error('Failed to add track to playlist');
                        }

                        console.log(`Track with ID ${trackId} added to playlist with ID ${playlistId}.`);
                        document.querySelector(".playlist-list").style.display = "none";
                        alert("The song was added into the playlist!");
                    } catch (error) {
                        console.error('Error adding track to playlist:', error);
                        throw error;
                    }
                }
            } catch (error) {
                console.error('Error fetching playlist tracks:', error);
                alert(`${error.message}`);
            }
        }

    });
</script>

</body>
</html>